
<div class="span12">

    <div ng-show="ready" style="display: none;">

        <div class="btn-group">
            <a href="#/admin/edit/" class="btn btn-small btn-success"><i class="icon icon-plus"></i> Создать</a>
        </div>

        <div class="btn-group">
            <button ng-click="filter(3)" class="btn btn-small" ng-class="{true:'active'}[type == 3]">Все</button>
            <button ng-click="filter(0)" class="btn btn-small" ng-class="{true:'active'}[type == 0]">Черновики</button>
            <button ng-click="filter(1)" class="btn btn-small" ng-class="{true:'active'}[type == 1]">Активные</button>
            <button ng-click="filter(2)" class="btn btn-small" ng-class="{true:'active'}[type == 2]">Завершенные</button>
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 30px;">#</th>
                <th style="width: 400px;">Название</th>
                <th style="width: 70px;text-align: center">Статус</th>
                <th style="width: 120px; text-align: right">Операции</th>
            </tr>
            </thead>
            <tbody ng-show="ready" style="display: none;">
            <tr>
                <td colspan="4" ng-hide="polls">Нет опросов по данному критерию</td>
            </tr>
            <tr ng-repeat="poll in polls">
                <td>{{ poll.id }}</td>
                <td>{{ poll.name }}</td>
                <td style="text-align: center" my-status="poll.status"></td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="#/admin/edit/{{ poll.id }}" class="btn btn-mini"><i class="icon icon-pencil"></i></a>
                        <a href="#/admin/view/{{ poll.id }}" class="btn btn-mini" ng-show="poll.status != 0"><i class="icon icon-eye-open"></i></a>
                        <button ng-click="delete(poll)" class="btn btn-mini"><i class="icon icon-trash"></i></button>
                        <button ng-click="toggle(poll)" class="btn btn-mini">
                            <i class="icon" ng-class="{false:'icon-ban-circle',true:'icon-ok-circle'}[poll.status == 0]"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <span ng-hide="ready">Загрузка...</span>

</div>
