<div class="span12">

    <form name="form" method="post" ng-submit="submit(form)" ng-show="ready" style="display: none;">


        <fieldset>

            <legend>Опрос</legend>

            <div class="control-row">
                <label class="control-label" for="name">Название</label>

                <div class="controls">
                    <input type="text" class="input-xxlarge inline" required id="name" ng-model="poll.name" maxlength="200" />

                    <select id="status" name="status" class="pull-right input-medium" required ng-model="poll.status">
                        <option value="0" ng-selected="form.status == poll.status">Черновик</option>
                        <option value="1" ng-selected="form.status == poll.status">Активный</option>
                        <option value="2" ng-selected="form.status == poll.status">Завершен</option>
                    </select>

                </div>
            </div>

        </fieldset>


        <fieldset>

            <legend>Вопросы <button ng-click="addQuest(poll)" class="btn btn-mini btn-primary">Добавить</button></legend>

            <div class="control-row clearfix question" ng-repeat="quest in poll.quests" ng-class-odd="'even'">

                <div class="span8">

                    <label>Содержание вопроса:</label>

                    <div class="input-append">
                        <input type="text" name="text" class="input-xxlarge" ng-model="quest.text" required />
                        <button ng-click="deleteQuest(quest)" tabindex="-1" class="btn btn-warning"><i class="icon icon-trash"></i></button>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" name="required" ng-true-value="1" ng-false-value="0" ng-model="quest.required" /> Обязательный
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="multiply" ng-true-value="1" ng-false-value="0" ng-model="quest.multiply" /> Несколько ответов
                    </label>
                </div>


                <div class="span3">
                    <label>Варианты ответов:</label>
                    <div ng-repeat="answer in quest.answers" class="input-append">
                        <input type="text" name="text" class="" my-answer ng-model="answer.text" />
                        <button  ng-click="deleteAnswer(answer)" tabindex="-1" class="btn btn-warning"><i class="icon icon-trash"></i></button>
                    </div>

                </div>

            </div>


        </fieldset>


        <div class="form-actions">
            <a href="/admin/" class="btn">Назад</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>

    </form>

</div>

