
<div class="span12">

    <div ng-show="ready" style="display: none;">


        <div class="clearfix" ng-class-odd="'even'" ng-repeat="poll in polls" style="padding: 2px 10px">

            <h3 class="pull-left">{{ poll.name }} </h3>

            <div class="btn-group pull-right" style="margin-top: 15px">
                <a href="#/poll/{{ poll.id }}" class="btn btn-primary">Начать</a>
                <a href="#/poll/view/{{ poll.id }}" class="btn btn-primary">Результаты</a>
            </div>
        </div>

    </div>

    <span ng-hide="ready">Загрузка...</span>

</div>
