<div class="span12">

    <div ng-show="ready" style="display: block;">

        <div ng-repeat="quest in poll.quests">

            <div class="clearfix">
                <h3 class="pull-left">{{ quest.text }}</h3>
                <div class="pull-left">Всего <strong>{{ quest.results.length }} голосов</strong></div>
            </div>

            <div ng-repeat="answer in quest.answers" class="clearfix">
                <span class="pull-left" style="width: 300px;">{{ answer.text }} <strong>({{ answer.count }})</strong></span>
                <div class="progress active pull-right" style="width: 500px;">
                    <div class="bar" my-progress></div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide="ready"></div>
</div>