
<div class="span12">

    <div ng-show="ready" style="display: none;">

        <form name="form" ng-submit="submit(form)">

            <fieldset ng-repeat="quest in poll.quests">

                <legend>{{ quest.text }} <span ng-show="quest.required" style="color: red; font-weight: bold;">*</span></legend>

                <div class="control-row">

                    <label class="{{ quest.multiply | type }}" ng-repeat="answer in quest.answers">
                        <input type="{{ quest.multiply | type }}" ng-click="select(answer)" name="{{ quest.id }}" ng-model="poll.checked" value="{{ answer.id }}"/> {{ answer.text }}
                    </label>

                </div>

            </fieldset>


            <div class="form-actions">
                <a href="#/poll" class="btn">Назад</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>

        </form>

    </div>

    <div ng-hide="ready">Загрузка...</div>

</div>
